body {
  margin: 0;
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
  user-select: none;
}

dialog {
  background: none;
  user-select: none;
  border: none;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.canvasContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #adadad;
}

.mainMenuDialog {
  display: flex;
  flex-direction: column;
  padding: 2em;
  border: 0.0625em solid #ccc;
  border-radius: 0.5em;
  background-color: white;
  box-shadow: 0 0.25em 0.375em #1a1a1a1a;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.logo {
  width: 20em;
  margin: 1em;
}

.menuBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #fafafa;
  box-shadow: 0 0 1em #aaa;
  z-index: 1;
}

.menuBar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0.6em;
}

.labels .container {
  justify-content: center;
  gap: 2em;
}

.container .group {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  gap: 2em;
}

.group .group {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  gap: 0.4em;
}

.selectedSpriteLabelImage {
  width: 2em;
  height: 2em;
  background-color: gray;
}

.safariButton {
  display: flex;
  gap: 0.4em;
  padding: 0.5em 1em;
  align-items: center;
  background-color: var(--safari-btn-color);
  border: none;
  border-radius: 0.4em;
  cursor: pointer;
  color: black;
  font-weight: bold;
  font-style: italic;
  height: 2.5em;
  overflow: hidden;
  transition:
    background-color 0.1s ease-in-out,
    filter 0.2s ease-in-out;
}

.safariButton:hover {
  filter: brightness(85%);
}

.safariButton img {
  max-height: 1.7em;
  object-fit: contain;
}
